html {
  background-color: rgb(60, 57, 57);
}
main {
  margin-top: 80px;
}
.main-section {
  color: snow;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardholder-holder {
  display: flex;
  flex-direction: row;
}
.cardholder-card {
  background-color: brown;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  margin: 5px;
}
.cardholder-card-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.cardholder-title {
}
