main {
  margin-top: 80px;
}
.main-section {
  border-width: 2px 0px 0px 0px;
  border-style: groove;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cardholder-card {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}
